# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

template_lib.txt

# Latex 
.dropbox
desktop.ini

*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.toc
*.synctex.gz
*.snm
*.vrb
*~
*.nav
*.backup
*.bak
*.fdb_latexmk
*.fls
*.bcf
*.brf
*.run.xml

*.swp
*.swo
*.sav

# tex

*.tex